@page "/contact"

<PageTitle>Contact</PageTitle>

<style>
    .contact-container {
        text-align: center;
    }

    .contact-details {
        margin-bottom: 10px;
    }

    .contact-icons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        transition: transform 0.3s ease;
    }

    .contact-icons a {
        margin-right: 20px;
        transition: color 0.3s ease;
    }

    .contact-icons:hover {
        transform: scale(1.05);
    }

    a:hover {
        color: #ff0000; 
    }
</style>

<div class="contact-container">
    <h1>Contact</h1>
    
    <div class="contact-details">
        <b>Email:</b> <a href="mailto:antoinegsfeir@gmail.com">antoinegsfeir@gmail.com</a><br>
        <b>Phone:</b> <a href="tel:3377812292">337-781-2292</a>
    </div>

    <div class="contact-icons">
        <a href="https://github.com/AntoineSfeir">
            <img src="/github_logo.jpg" alt="GitHub logo" style="max-width: 150px; max-height: 150px;">
        </a>

        <a href="https://www.linkedin.com/in/antoine-sfeir-aa4086156">
            <img src="/linked-in_logo.png" alt="LinkedIn logo" style="max-width: 150px; max-height: 150px;">
        </a>
    </div>
</div>








