@page "/"

<PageTitle>About</PageTitle>

<style>
    .about-container {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }

    .about-image {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .skills-list {
        text-align: left;
        margin-bottom: 10px;
    }
</style>

<div class="about-container">
    <h1>About Me</h1>

    <div class="about-image">
        <img src="/logo_transparent.png" alt="background" style="max-width: 350px; max-height: 300px;">
    </div>

    <p>I am a dedicated student pursuing a Bachelor's degree in Computer Science with a Minor in Mathematics at Louisiana State University. My ultimate ambition is to become a proficient full-stack developer, specializing in machine learning. I am passionate about programming games, constantly exploring novel programming languages and frameworks, and seeking opportunities for personal growth in the field.</p>

    <div class="about-image">
        <img src="/bg2.png" alt="background" style="max-width: 600px; max-height: 300px;">
    </div>

    <h2>Skills</h2>

    <ul class="skills-list">
        <li>Over two years of experience with Java, C#, and C/C++ for object-oriented programming.</li>
        <li>Using the Blazor framework for building interactive client-side web UI with .NET.</li>
        <li>Database management using MongoDB and SQL.</li>
        <li>Web development using JavaScript, CSS, and HTML.</li>
        <li>Data science and machine learning in Python.</li>
    </ul>

    <p>To gain further insight into my qualifications, I invite you to review my comprehensive <a href="https://drive.google.com/file/d/1HxApLU_R3QJfCiUCF-IZz-Dv3PQj93Lp/view?usp=share_link">resume</a>, which provides a detailed overview of my academic achievements, relevant skills, and notable experiences.</p>
</div>
